<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h1>Signup Page</h1>
    <form method = "post">
        <label for="name">Enter Your Name: </label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="username">Create a Username: </label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Create a Password: </label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="confirmPassword">Confirm Password: </label><br>
        <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
        <input type="submit" value="Signup" required>
    </form><br>
    <a href="{{url_for('index')}}">Return to Index Page</a><br>
    <a href="{{url_for('login')}}">Already have an account? Go to Login Page</a>
</body>
</html>